<!-- conteneur global -->
<section id="contenu" class="col-10">


    <!--conteneur V1.12.X-->
    <section class="col-12 reduced-padding">
        <!-- bouton V1.12 (general) -->
        <section id="v112" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
            <figure class="col-1 no-margin row-1"><img id="imgversion" src="img/v112.png">   </figure>
            <h2 class="col-11 no-margin row-1">Version 1.12</h2>
        </section>
        <!--conteneur des sous versions-->
        <section id="v112-son" class="col-11 tab reduced-padding" style="display: none">
            <!-- conteneur sous version 1.12.2 -->
            <section class="col-12 reduced-padding">
                <!-- bouton V1.12.2  -->
                <section id="v1122" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                    <figure class="col-1 no-margin row-1"><img></figure>
                    <h2 class="col-10 no-margin row-1">Version 1.12.2</h2>
                </section>
                <!-- detail du contenu de la version 1.12.2 -->
                <section id="v1122-son" class="col-11 reduced-padding tab" style="display: none">
                    <p>java edition logo</p>
                    <ul>
                        <li>java logo</li>
                        <li>debug</li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
</section>