<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="col-12 reduced-padding">
        <!-- bouton du block  -->
        <section id="block0" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
            <figure class="col-1 no-margin row-1"><img></figure>
            <h2 class="col-10 no-margin row-1">Armor</h2>
        </section>
        <!-- detail du block -->
        <section id="block0-son" class="col-11 reduced-padding tab" style="display: none">
            <p>Armor List</p>
        </section>
    </section>
</th:block>