<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="col-12 reduced-padding">
    <!-- bouton de la categorie -->
    <section id="categorie" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
        <figure class="col-1 no-margin row-1"><img>   </figure>
        <h2 class="col-11 no-margin row-1">Armor</h2>
    </section>
    <!--conteneur des blocks-->
    <section id="categorie-son" class="col-11 tab reduced-padding" style="display: none">
        <!-- conteneur d'un block -->
        <section class="col-12 reduced-padding">
            <!-- bouton du block  -->
            <section id="block0" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Armor</h2>
            </section>
            <!-- detail du block -->
            <section id="block0-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Armor List</p>
            </section>
        </section>
        <!-- conteneur d'un block -->
        <section class="col-12 reduced-padding">
            <!-- bouton V1.12.1  -->
            <section id="block1" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Boots</h2>
            </section>
            <!-- detail du contenu de la version 1.12.1 -->
            <section id="block1-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Boots List</p>
            </section>
        </section>
        <!-- conteneur sous version 1.12.0 -->
        <section class="col-12 reduced-padding">
            <!-- bouton V1.12.1  -->
            <section id="block2" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Chestplate</h2>
            </section>
            <!-- detail du contenu de la version 1.12.0 -->
            <section id="block2-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Chestplate List</p>
            </section>
        </section>
        <!-- conteneur sous version 1.12.0 -->
        <section class="col-12 reduced-padding">
            <!-- bouton V1.12.1  -->
            <section id="block3" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Helmet</h2>
            </section>
            <!-- detail du contenu de la version 1.12.0 -->
            <section id="block3-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Helmet List</p>
            </section>
        </section>
        <!-- conteneur sous version 1.12.0 -->
        <section class="col-12 reduced-padding">
            <!-- bouton V1.12.1  -->
            <section id="block4" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Horse Armor</h2>
            </section>
            <!-- detail du contenu de la version 1.12.0 -->
            <section id="block4-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Horse Armor List</p>
            </section>
        </section>
        <!-- conteneur sous version 1.12.0 -->
        <section class="col-12 reduced-padding">
            <!-- bouton V1.12.1  -->
            <section id="block5" class="col-12 bg-color no-padding no-margin" onclick="toggle_button(this)">
                <figure class="col-1 no-margin row-1"><img></figure>
                <h2 class="col-10 no-margin row-1">Leggins</h2>
            </section>
            <!-- detail du contenu de la version 1.12.0 -->
            <section id="block5-son" class="col-11 reduced-padding tab" style="display: none">
                <p>Leggins List</p>
            </section>
        </section>
    </section>
</section>
</th:block>