<th:block xmlns:th="http://www.thymeleaf.org">
    <figure  class="col-8">
        <img src="img/article-3.png" id="article-1">
        <figcaption></figcaption>
    </figure>
    <div class="col-8 article hide">
        <h2 class="col-12" id="article-3-son">Crafting the citadel</h2>
        <p class="col-12" id="article-3-son">If I was to    try and build something entirely without planning, it would probably end up like all my attempts at cooking; a slimy blob of lukewarm regret. But when ace crafter, Springstof tries building something entirely without planning, he manages to blend architectural flavours with the flair of a top gourmet. No fair!

            Welcome to The Citadel - a testament to European monuments and architecture from a mix of regions and periods, and a work-in-progress that's an astonishing work of freeform creativity. Springstof - or Jesse, as he’s also known - saw a blank canvas of blocks and, without considering the details, dived right in to the construction of a towering structure accented by spires, a bridge and beautiful surrounding landscape.

            “The concept for the Citadel was a really random idea,” says Springstof. “I’ve always wanted to create worlds without the limitations of functionality. Building spawns or PvP maps is something that requires forethought. You need to think about layout and features in a very practical way. A few weeks ago, though, I just decided to start building something for myself. No clear goal, no functionality, just a creation.”

            The entire project is improvised. Springstof builds without layout plans, reference images, or preconceptions of what it should be.

            “Everything is made up as I go,” he tells me.

            The result is a monolithic structure that could fit into any Tolkien novel. Springstof says that, though he had no intention of it, the castle really seems to have been influenced by a lot of  different styles that would never meet in the real world. “Honestly, the entire structure makes no sense. The large hall has Gothic and Nordic influences, the large tower has baroque influences and the smaller towers don’t really follow any conventions as far as I can deduce. The large entrance hall and the wall, on the other hand, have a very medieval look.”

            Considering this, Springstof says, “Any student of historical architecture would probably have sleepless nights over the abundance of things that are wrong with this. I don’t think it’s possible to point out how the Citadel is unique, because I don’t think there are many conventional aspects to begin with.”

            It’s an impressive feat, to be able to create something like this with no clear intention laid out to begin with. However, Springstof’s an experienced builder. In fact, he’s submitted five survival spawns to Minecraft Realms in the last two years. “I really wanted all of them to be unique,” he tells me. Springstof’s maps include a farming village, a lumberjack’s hideout, an orc encampment and the impact site of a meterorite. A fairly expansive repertoire for a lone builder.

            “I really enjoy creating things, and Minecraft has no boundaries.,” Springstof explains. “I love to build and I try to make something unique with every project I design.” His portfolio demonstrates this, with each build more varied and ambitious than the last. If you’d like to see more of Springstof’s work and keep up to date with his Citadel project (which is still work in progress!), you can check out his page on PlanetMinecraft and follow him on Twitter.
        </p>
    </div>
</th:block>