<th:block xmlns:th="http://www.thymeleaf.org">
    <figure class="col-4">
        <img src="img/article-2.jpg" id="article-2">
        <figcaption></figcaption>
    </figure>
    <div class="col-8 article hide">
        <h2 class="col-12" id="article-2-son">Blocks of the week</h2>
        <p class="col-12" id="article-2-son">In the streets of London during the Industrial Revolution, city planners had a problem. The pollution belching out of newly-built factories, combined with the city's dank geography, led to a series of dense, foul-smelling fogs. In the worst of them, it became impossible to tell the city's buildings - which were constructed from grey stone - apart from the fog around them. Traffic accidents, with carts crashing straight into walls, were commonplace.

            But then the planners hit upon an idea - a new, building material that was simple and quick to mass produce, and had the added advantage of being bright red and easier to see in the fog. Fire! Er, I mean, bricks!
            Bricks were added to Minecraft very early on in the game's development - on 24 October 2009, alongside mossy cobblestone, TNT and bookshelves. For a short while during the game's pre-Alpha Infdev phase, the game would generate huge pyramids made of bricks in the world, but this feature was later removed. Since then, the only thing that's really changed about bricks has been its texture - which has had a few minor tweaks along the way.

            To get a bricks block, you'll first need to smelt clay in a furnace into individual brick items which can't be placed in the world by themselves. But combine four of them in a square in a crafting grid and you'll get get the bricks block.

            Bricks have the same blast resistance as other types of stone, so they're pretty good for making your house creeper-proof. There are stairs and slabs made of brick, but the block's other crafting use is in making banners - adding bricks and dye to a banner will create a checkerboard background colour, which the game calls "Masoned". It's a great choice for a flag for a tribe of builders.

            Real-world bricks were first made long before the Industrial Revolution. In fact, they date back almost ten thousand years to when they were first made by drying hand-shaped clay in the sun.

            Later, it was discovered that baking bricks in an oven would make them much stronger and longer-lasting (suck it, the sun!), leading to Ancient Egyptian fortresses, Sri Lankan temples and medieval castles all being built out of bricks, many of which are still standing today. In fact, bricks were so useful to the Romans that their legions carried mobile brick kilns around wherever they went.

            Today, bricks are one of the most common building materials around. They're used for structures in all sorts of shapes and sizes, from walls and houses to roads and cathedrals. There are lots of different kinds of specialised brick, made to be heat-resistant, acid-proof or particularly strong. Although if you live in a place full of acid that is constantly on fire, I'd consider just moving away. They also come in a range of colours - from London's red to yellow and even blue.

            So the next time you're playing Minecraft on a low-end machine, with the draw distance way down, consider taking a lesson from London's Victorian architects and using bricks for your buildings rather than cobblestone. If nothing else, it'll be much easier to find your way home.
        </p>
    </div>
</th:block>