<th:block xmlns:th="http://www.thymeleaf.org">
    <section>
        <section id="contenu" class="col-10 bgcolor">
            <h1 class="col-12 titre">Comment bien débuter sur Minecraft</h1>
            <p class="col-12 parag"><b>Minecraft</b> n'est pas qu'un jeu de construction, c'est aussi un <b>jeu de survie.</b> Collecte de ressources, fabrication d'armes et d'armures, chasse, pêche et construction d'abris pour passer les nuits et éviter les diverses créatures qui hantent le jeu. Nous allons au travers d'un guide complet revenir ensemble sur la meilleure façon de bien débuter Minecraft.</p>
            <figure class="col-12"><img src="img/Minecraft_image_guide_landscape.jpg" id="illustration" class="col-12 illus"></figure>
            <p class="col-12 parag">Vous apparaissez dans un monde dont vous ne connaissez rien. Tout est inconnu à vos yeux. Votre but : survivre. Lors de votre première journée, le temps sera votre plus gros problème. Il va donc falloir le gérer le mieux possible. Pour cela, il est important de ne pas perdre de temps et de savoir exactement ce que vous allez faire avant que la nuit tombe et que l’aventure commence réellement.
                Le bois étant la ressource de base à obtenir à tout prix, il va vous falloir détruire plusieurs arbres à la main afin d’en collecter un maximum. Après avoir obtenu un certain nombre de bûches (une vingtaine vous permettra d’être tranquille pour la journée), ouvrez votre inventaire et posez toutes vos bûches dans l’atelier rapide. Cela vous permettra de transformer toutes vos bûches en planches. En posant quatre planches dans votre atelier rapide, vous allez pouvoir construire un atelier de crafting beaucoup plus grand que l’atelier rapide que vous possédez. Enfin, il est important de connaître le craft de bâtons qui se réalise en empilant deux planches les unes sur les autres.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_planches.gif" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_sticks.gif" class="col-6 craft left">
                <img src="img/Minecraft_image_guide_craftingtable.png" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_four.png" class="col-6 craft left">
            </figure>
            <p class="col-12 parag">Vous vous retrouvez donc avec des planches et des bâtons. Votre objectif maintenant sera de savoir crafter l’outil de base le plus important (voir recette ci-dessous). La pioche de bois vous permettra de détruire certains blocs solides comme la pierre ou le charbon. Vous pourrez la fabriquer à l’aide de votre nouvel atelier qu’il faudra préalablement poser (clic droit). Une fois que vous aurez votre pioche en main, il sera temps de creuser votre premier refuge pour la nuit. Et c’est à ce moment-là que l’aventure se pimentera. Au crépuscule, toutes sortes d’ennemis apparaîtront, tels des zombies, des squelettes, ou même des araignées, et tenteront d’avoir votre peau dès qu’ils vous verront. Pour votre premier refuge, il est conseillé de creuser au pied d’une falaise. C’est ici que vous aurez besoin d’un peu de bûches, de planches et de pierre pour vous fabriquer des torches, importante source de lumière.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_pickaxe.gif" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_torches.gif" class="col-6 craft left">
            </figure>
            <p class="col-12 parag">Faites donc en sorte de pouvoir fabriquer un four et de le poser dans votre abri avec votre atelier. Posez vos planches dans la case du combustible et vos bûches dans l’autre case. Une fois que votre charbon de bois est prêt, à l’aide de vos bâtons, vous pourrez en faire des torches qu’il vous faudra poser dans votre abri afin de ne pas passer votre première nuit dans le noir. Jusqu’à votre deuxième jour, vous n’avez pas besoin de combattre. Il est donc l’heure de fabriquer une épée pour le lendemain. Mais avant, sachez que vous pouvez fabriquer des outils plus puissants s’ils sont faits à base de pierre et non de planches. Sachez aussi qu’une hache vous permettra de couper du bois beaucoup plus rapidement et qu’une pelle fera de même pour certains blocs comme la terre ou le sable. Voici comment vous pourrez fabriquer chaque outil de base en pierre.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_epees.gif" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_houes.gif" class="col-6 craft left">
                <img src="img/Minecraft_image_guide_haches.gif" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_pelles.gif" class="col-6 craft left">
            </figure>
            <p class="col-12 parag">Vous voilà prêt pour le lendemain, muni de vos premiers outils de base. Évitez de vous balader dehors en pleine nuit. La meilleure chose à faire est de creuser à l’intérieur de votre abri pour l’agrandir. Vous pourrez peut-être tomber sur du charbon, qui sait ? Le charbon est le minerai le moins rare du jeu. C’est un excellent combustible (pour cuire de la nourriture, faire fondre des blocs, etc.) et le moyen le plus reconnu pour fabriquer des torches, comme avec le charbon de bois. Vous avez un four et un atelier, le moment est venu de fabriquer un coffre, où vous pourrez stocker tous les objets que vous ne souhaitez pas avoir sur vous. Notez que si vous mourez, vous perdez tous les objets que vous portez et revenez à l’endroit où vous avez commencé l’aventure, votre abri restant normalement intact.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_coffres.gif" class="col-12 craft millieu">
            </figure>
            <p class="col-12 parag">Si tout s’est déroulé comme prévu, vous avez survécu à votre première nuit grâce à votre abri. Voyons maintenant d’autres aspects importants du jeu, tous reliés à la gestion de la vie. Vous possédez une barre de faim ainsi qu’une barre de vie. Lorsque votre barre de faim est au maximum, vos vies remontent. Mais pour cela, il vous faut de la nourriture. Nous allons donc analyser toutes les créatures que vous pourriez couramment croiser, afin que vous sachiez lesquelles vous devrez éviter ou chercher.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_cochon.png" class="col-12 mob">
            </figure>
            <p class="col-12 parag">En tuant un cochon, vous obtenez de la viande crue. Vous pouvez soit la manger crue, soit la cuire afin qu’elle remonte trois fois mieux votre barre de faim (gain de quatre cuissots dans votre barre de faim).</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_vache.png" class="col-12 mob">
            </figure>
            <p class="col-12 parag">En tuant une vache, vous pourrez obtenir du cuir ou de la viande. Le cuir vous permettra, en certaines quantités, de vous fabriquer une armure. L’armure se divise en quatre parties : les bottes, les jambières, le plastron et le casque. 24 morceaux de cuir vous permettront de fabriquer une armure entière.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_cuircasque.jpg" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_cuirplastron.jpg" class="col-6 craft left">
                <img src="img/Minecraft_image_guide_cuirjambieres.jpg" class="col-6 craft droite">
                <img src="img/Minecraft_image_guide_cuirbottes.jpg" class="col-6 craft left">
                <img src="img/Minecraft_image_guide_poule.jpg" class="col-12 mob">
            </figure>
            <p class="col-12 parag">En tuant une poule, vous pourrez obtenir des plumes ou du poulet. Les plumes vous permettront, plus tard, de fabriquer des flèches.</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_mouton.jpg" class="col-12 mob">
            </figure>
            <p class="col-12 parag">En tuant un mouton, vous pourrez obtenir de la laine. La laine est le bloc de décoration par excellence, car elle peut être colorée en près de 15 couleurs différentes. Elle sert également à construire un lit qui vous permettra de passer la nuit en un clic, à moins qu’un monstre ne vous réveille par malchance. Les moutons peuvent également donner de la nourriture !</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_lit.jpg" class="col-12 craft millieu">
                <img src="img/Minecraft_image_guide_lapin.png" class="col-12 mob">
            </figure>
            <p class="col-12 parag">Si vous tuez ce lapin, vous pourrez récupérer un pied de lapin ou tout simplement du lapin cru. Notez que vous pouvez vous faire un ragoût de lapin en suivant la recette ci-dessous :</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_ragout.jpg" class="col-12 craft millieu">
            </figure>
            <p class="col-12 parag">Nous venons de passer en revue les créatures passives du jeu, celles qui ne vous attaquent pas et qui peuvent même vous donner de la nourriture. Passons maintenant aux monstres hostiles. La plupart d'entre eux n’apparaissent qu'à la nuit tombée mais d'autres sont trouvables aussi bien de jour que de nuit...</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_monstres1.jpg" class="col-12 mobs">
            </figure>
            <p class="col-12 parag"><b>Les creepers</b> vivent le jour. Ils ne craignent pas la lumière du soleil, contrairement à la plupart des autres monstres. Lorsqu’ils restent plusieurs secondes à proximité de vous, ils explosent. Faites bien attention à ne pas vous faire prendre par surprise. Il serait par ailleurs regrettable qu’ils explosent dans votre maison. Si vous parvenez cependant à les tuer, vous récupérerez de la poudre à cannon qui vous permettra de vous crafter des TNT.
                <b>Les zombies</b> craignent la lumière du soleil et se battent au corps à corps. Si vous les tuez, ils peuvent vous donner de la viande de zombie ou, si vous avez de la chance, du stuff en fer, des carottes et même des pommes de terre.
                <b>Les squelettes</b> craignent également la lumière du jour, mais se battent avec un arc, et peuvent donc vous atteindre à distance. Ils sont redoutables et une fois tués, lâchent des flèches, leur arc, ou des os qui vous permettront de faire de la poudre d’os. Cette dernière peut servir de colorant ainsi que d’excellent coup de pouce, plus tard, quand vous ferez de l’agriculture.
                À moins qu’elles ne vous aient aperçu durant la nuit, <b>les araignées</b> sont inoffensives le jour (sauf si vous les provoquez). Une fois tuées, elles vous donnent du fil qui vous permettra, plus tard, de fabriquer un arc ou encore de la laine.</p>
            <figure class="col-2">
                <img src="img/Minecraft_image_guide_enderman.jpg" class="col-12">
            </figure>
            <p class="col-10 parag"><b>L' Enderman</b> est une autre créature que vous pourrez souvent rencontrer et qui, dès que vous lui lancez un coup d'oeil, s'attaque à vous. Une fois tué, il pourra vous loot une enderpearl qui vous permettra de vous téléporter en faisant un clic droit ou d'en faire un œil du néant, très utile pour repérer le portail de l'End.</p>
            <p class="col-12">Ces créatures hostiles ne se rencontrent que dans le monde normal de Minecraft. Il existe en tout trois mondes : l'Overworld (celui de base), le Nether (les enfers) et l'End. Chaque dimension a son propre bestiaire, passons en revue les monstres du Nether :</p>
            <figure class="col-12">
                <img src="img/Minecraft_image_guide_monstres2.jpg" class="col-12 mobs">
            </figure>
            <p class="col-12 parag"><b>Le Wither Squelette</b> est un monstre redoutable de trois blocs de hauteur. Si il vous touche, il vous empoisonnera et vos cœurs deviendront noirs. Si vous vous abritez sous une surface de deux de hauteur, il ne pourra pas vous atteindre, ce qui ne sera pas votre cas. En le tuant, vous pourrez récupérer du charbon ou encore une tête de Wither Squelette, qui vous permettra plus tard d'invoquer un Boss du jeu.
                <b>Le blaze</b> est un monstre volant qui attaque à distance en crachant des boules de feu. Il ne spawn pas naturellement, si vous en croisez un, c'est qu'il y a forcément une forteresse avec un mobspawner à blaze non loin... Si vous le tuez, vous récupérerez une blaze rod, qui vous permettra de vous crafter un alambic (pour créer des potions) ou de la poudre de blaze.
                <b>Le Ghast</b> est également un ennemi volant. Il est énorme et crache d'immenses boules de feu explosives qui produiront des dégâts environnementaux si elles touchent le sol. Une fois tué, vous pourrez récupérer une larme de Ghast.
                <b>Le Magma Cube</b> est l'équivalant du Slime de l'Overworld. Il se multiplie à chaque fois que vous tuez l'une de ses formes et vous donnera peut-être une magma cream.</p>
            <figure class="col-2">
                <img src="img/Minecraft_image_guide_pigman.jpg">
            </figure>
            <p class="col-10 parag"><b>Le Zombie Pigman</b> est une créature normalement passive du nether. Si vous le frappez, il ripostera et appellera tous ses semblables autour à en faire de même, soyez donc vigilant avec votre épée ! Une fois tué, vous pourrez soit récupérer du stuff en or, un lingot d'or ou encore des pépites.</p>
            <p class="col-12 parag">Vous avez acquis les bases de Minecraft. Dans un prochain guide, nous étudierons ensemble le thème de la construction.</p>
        </section>
    </section>
</th:block>